Makefile
Makefile.in
Makefile.in.in
compile
config.*
configure
depcomp
install-sh
missing
aclocal.m4
autom4te.cache
org.mpris.MediaPlayer2.mpd.service
POTFILES
*.gmo
*.pot
stamp-it
mpDris2
mpDris2.py
mpDris2.service
