[Desktop Entry]
Name=mpDris2
Comment=MPRIS 2 support for MPD
Exec=mpDris2
Icon=sound
StartupNotify=false
Type=Application
Categories=Audio;Music;Player;
NoDisplay=true
X-DBUS-ServiceName=org.mpris.MediaPlayer2.mpd
